/* site global css */

html {
  --primary: #DD4B39;
  --primary2: #E16251;
  --primary3: #E57567;
  --primary4: #E9887C;
  --light-primary: #DE9E8E;
  --text: #382D39;
  --accent: #898695;
  --accent-a: #898695ee;
  --background: #F6F1F2;

  --header-size: 3.75rem;
  --footer-size: 2.5rem;

  --trans-time: 200ms;
}

body {
  background-color: var(--background);
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.2rem;
}

button:active, button:focus {
  outline: none;
}

a, a:visited {
  color: var(--background);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
